{% comment %}
{% extends "site_base.html" %}
{% endcomment %}
{% load leaflet_storage_tags %}
{% block title %}{{ map.name }}{% endblock %}

{% block extra_head %}
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ STATIC_URL }}storage/contrib/css/storage.ui.default.css">
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}umap/js/autocomplete.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <body class="{% block body_class %}{% endblock %}">
    <div id="storage-ui-container"></div>
    <div id="storage-alert-container"></div>
    <div id="storage-tooltip-container"></div>
    {% leaflet_storage_css %}
    {% leaflet_storage_js locale=locale %}
    {% if object.share_status != object.PUBLIC %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock %}
{% comment %}
{% block bottom_js %}
      <script type="text/javascript">
          L.S.on('ui:ready', function () {
              L.S.AutoComplete.multiSelect('id_editors', {
                  placeholder: "{% trans 'Type editors nick to add…' %}"
              });
              L.S.AutoComplete.select('id_owner', {
                  placeholder: "{% trans 'Type new owner nick…' %}"
              });
          });
      </script>
{% endblock %}
{% endcomment %}
{% block content %}
    {% block map_init %}
        {% include "leaflet_storage/map_init.html" %}
    {% endblock %}
    {% include "leaflet_storage/map_messages.html" %}
{% endblock %}
