{% load i18n %}
<nav>
  <section>
    <ul>
      <li class="name"><h1><a href="/">NEPAnode</a></h1></li>
    </ul>
  </section>

  <section>
    <ul>
      {% if user.is_authenticated %}
        <li><a href="{% url 'user_maps' user.username %}">{% trans "My maps" %} ({{ user }})</a></li>
      {% endif %}
    </ul>
  </section>

  <section class="right thide">
    <ul>
      <li class="has-button wide">
        <a href="{% url 'map_new' %}" class="btn btn-info" role="button">
          Create Map
        </a>
      </li>
    </ul>
  </section>
</nav>
